@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
}

.currentpage {
  visibility: visible;
  overflow: visible;
}

h1 {
  font-size: 7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  font-family: 'Roboto' , sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  color: #777777;
}

#Logocontainer {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  top: 0;
  width: 35rem;
  height: 35rem;

  -webkit-filter: drop-shadow(3px, 3px, 3px, rgba(0, 0, 0, 1))
  filter: drop-shadow(3px, 3px, 3px, rgba(0, 0, 0, 1))

  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}

.logo.hovered {
  top: -2%;
}

#TopicName {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  text-align: center;
  padding-top: 74%;
}


/* ANIMATIONS */
.fadeOut {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;

  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
@-webkit-keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.fadeIn {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;

  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Taken from https://github.com/codrops/PageTransitions/ */
.totop {
  -webkit-animation: moveToTop .9s ease both;
	animation: moveToTop .9s ease both;
}
@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.tobottom {
	-webkit-animation: moveToBottom .9s ease both;
	animation: moveToBottom .9s ease both;
}
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

.fromtopease {
  -webkit-animation: moveFromTop .8s ease-in-out both;
	animation: moveFromTop .8s ease-in-out both;
}
@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.frombottomease {
	-webkit-animation: moveFromBottom .8s ease-in-out both;
	animation: moveFromBottom .8s ease-in-out both;
}
@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}


/* MOBILE LAYOUTS */
@media screen and (max-width: 450px) {
  .logo {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    margin-top: 10vh;
  }
}

@media screen and (max-height: 650px) {
  h1 {
    font-size: 6rem;
  }

   h2, #TopicName {
     font-size: 2rem;
   }

  .logo {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-height: 510px) {
  h1 {
    font-size: 5rem;
  }

   h2, #TopicName {
     font-size: 1.5rem;
   }

   h3 {
     visibility: none;
     opacity: 0
   }

  .logo {
    width: 20rem;
    height: 20rem;
  }
}
